<!-- templates/base.html -->

{% load static %}

<html>
    <head>
        <title>Soil Moisture(PRWIN)</title>
        <link rel="stylesheet" type="text/css" href="{% static 'skeleton/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <header>
        <a href="{% url 'home' %}">Home</a> |
        <a href="/admin">Admin</a> |
        <a href="{% url 'simple_upload' %}">Simple Upload</a> |
        <a href="{% url 'model_upload' %}">Upload using a Model</a> |
        <a href="/graphs/vsw_percentage/3/2019/05/23/">VSW Graph Example</a> |
        <a href="/graphs/graphs/3/">First Graph Example</a> |
        <a href="{% url 'readings_list' %}">Readings API</a>
    </header>
    <body>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
