<!-- templates/base.html -->

{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Terraprobe</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static 'skeleton/style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script type="text/javascript" src="{% static 'skeleton/utils.js' %}"></script>

        <!-- Datatables Extensions Bootstap 4-->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.1/css/fixedColumns.bootstrap.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/absolute.js"></script>
        <script type="text/javascript" src="{% static 'skeleton/hideEmptyColumns.js' %}"></script>

        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div id="pageWrapper">
        <header>
            <nav class="navbar navbar-expand-lg bg-green navbar-dark">
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navItems">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'site_readings' %}">| Readings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recommendation_ready' %}"> | Recommendation Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'onsite_readings' %}"> | On-Site </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'upload_readings_file' %}"> | Readings File Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'season_wizard' %}"> | Season Wizard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report_home' %}"> | Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'readings_list' %}"> | Readings API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin"> | Administration | </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Hi {{ user.get_full_name }}!
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Log out</a>
                                </div>
                            </li>
                        {% else %}
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                USER: {{ user.get_full_name }}<a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
                                </li>
                           {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container-fluid">
            <div id="div_messages">
            {% if messages %}

            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}

            {% endif %}
            </div>
            {% block content %}
            {% block selector %}
            {% endblock selector %}
            {% endblock content %}

        </main>
        </div>
        <!-- Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>


    </body>
</html>
