<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}

<h1>Home Page</h1>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
<h2>Processes</h2>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-primary" name="button" id="load-rainfall" value="load-rainfall" type="submit">Load Rainfall from Hortplus</button>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-outline-primary" name="button" id="processall" value="processall" type="submit">Run All</button>
        <button class="btn btn-outline-primary" name="button" id="processrootzones" value="processrootzones" type="submit">Run process root zones</button>
        <button class="btn btn-outline-primary" name="button" id="processmeter" value="processmeter" type="submit">Run process meter</button>
        <button class="btn btn-outline-primary" name="button" id="processdailywateruse" value="processdailywateruse" type="submit">Run daily water use</button>
        <button class="btn btn-outline-primary" name="button" id="processrain" value="processrain" type="submit">Run process Rain and Irrigation</button>
    </div>
</div>
</form>

{% endblock content %}
