<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}

<h1>Home Page</h1>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <button class="btn btn-outline-primary" name="button" id="processall" value="processall" type="submit">Run All</button>
    <button class="btn btn-outline-primary" name="button" id="processrootzones" value="processrootzones" type="submit">Run process root zones</button>
    <button class="btn btn-outline-primary" name="button" id="processrainmeter" value="processrainmeter" type="submit">Run process rain meter</button>
    <button class="btn btn-outline-primary" name="button" id="processdailywateruse" value="processdailywateruse" type="submit">Run daily water use</button>
</form>

{% endblock content %}
