<!-- templates/model_form_upload.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        Neutron:<input type = "radio" name = "filetype" id = "neutron" value = "neutron" />
        Diviner:<input type = "radio" name = "filetype" id = "diviner" value = "diviner" checked = "checked"/>
        <button class="btn btn-outline-primary" type="submit">Upload</button>
    </form>
{% endblock %}
