{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        Probe:<input type = "radio" name = "filetype" id = "probe" value = "probe" checked = "checked" />
        Diviner:<input type = "radio" name = "filetype" id = "diviner" value = "diviner" />
        <button class="btn btn-outline-primary" type="submit">Upload</button>
    </form>
{% endblock %}
