{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        Probe:<input type = "radio" name = "filetype" id = "probe" value = "probe" checked = "checked" />
        Diviner:<input type = "radio" name = "filetype" id = "diviner" value = "diviner" />
        <button class="btn btn-outline-primary" type="submit">Upload</button>
    </form>
{% endblock %}
