<!-- templates/onsite_readings.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" id="onsiteForm"novalidate>
    {% csrf_token %}
    <div class="container-sm">
        <div class="col-sm-4">
            <div class="row selector">
                {{ form.site_number|as_crispy_field }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <b>Last Weeks Reading:</b><p id="previous_date"></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <b>Last Weeks Meter:</b><p id="previous_meter"></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <b><p>This Weeks Reading</p></b>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                {{ form.date|as_crispy_field }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                {{ form.meter|as_crispy_field }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                {{ form.rain|as_crispy_field }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <button class="btn bg-green" type="button" id="submit-reading">Submit</button>
            </div>
        </div>
    </div>
</form>

{{ form.media }}
<script>
$("#id_site_number").change(function() {
    var siteId = $(this).val();
    $.ajax({
        url: "/ajax/load-onsite-reading/",
        data: {
            'site': siteId
        },
        dataType: 'json',
        success: function(result) {
            console.log(result);
            $("#previous_date").text(result.date);
            $("#previous_meter").text(result.meter);
            $("#id_meter").val(result.meter);
        }
    });
});
$("#submit-reading").click(function() {
    var siteId = $("#id_site_number").val();
    var date = $("#id_date").val();
    var previous_meter = $("#previous_meter").text();
    var meter = $("#id_meter").val();
    var rain = $("#id_rain").val();

    // Check water meter reading is not greater than 10000 fomr first reading
    if (meter) {
        var target = parseInt(previous_meter) + 10000;
        console.log(meter, target)

        if (target  < meter ) {
            var ok = confirm('Your inputted meter reading is over 10000 litres different from the previous reading. Is that correct?');
            if (ok == false) {
                return false;
            }
        }
    }

    $.ajax({
        url: "/ajax/process-onsite-reading/",
        data: {
            'site': siteId,
            'meter': meter,
            'rain': rain,
            'date': date
        },
        dataType: 'json',
        success: function(result) {
            updateMessages(result.messages);
        }
    });

});

</script>

{% endblock content %}
