<!-- skeleton/templates/report_ready.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h5 align="center">Sites Readings Available for Review</h5>

<div class="container-sm">
<form method="get" id="reportReadyForm" novalidate>
{% csrf_token %}
    <div class="col-sm-4">
        <div class="row">
            {{ form.date|as_crispy_field }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <button class="btn bg-green" type="submit">Submit Date</button>
        </div>
    </div>
</div>
</form>
</div>
{{ form.media }}


{% if readings %}
<div class="container-sm">
<form method="post" id="reportListForm" novalidate>
{% csrf_token %}

<div class="col-sm-8">
    <ul class="list-group">
{% for reading in readings %}

    <li class="list-group-item"><input type="checkbox" class="form-check-input" name="reviewed" value="{{ reading.id }}" checked>{{ reading.site }} - Reviewed {{reading.date }} {{reading.reviewed }}</li>

{% endfor %}
    </ul>
    <div class="col-sm-8">
        <div class="row">
            <button class="btn bg-green" type="submit">Submit</button>
        </div>
    </div>
    </div>
</div>
</form>
{% endif %}
</div>

{% endblock content %}
