<!-- skeleton/templates/report_ready.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h5 align="center">Sites Readings Available for Review</h5>

<div class="container-sm">
<form method="get" id="reportReadyForm" novalidate>
{% csrf_token %}
    <div class="col-sm-4">
        <div class="row">
            {{ form.date|as_crispy_field }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <button class="btn bg-green" id="submit-date" type="submit">Submit Date</button>
        </div>
    </div>
</div>
</form>
</div>
{{ form.media }}


{% if readings %}
<form method="post">
{% csrf_token %}
<table class="table table-sm table-bordered text-nowrap" id="recommendation-review-table">

    <thead>
        <tr>
            <th>Site</th>
            <th>Farm</th>
            <th>Technician</th>
            <th>Date</th>
            <th>Reviewed</th>
        </tr>
    </thead>
    <tbody>
{% for reading in readings %}
        <tr>
            <td>{{ reading.site }}</td>
            <td>{{ reading.site.farm }}</td>
            <td>{{ reading.site.technician.first_name }} {{ reading.site.technician.last_name }}</td>
            <td>{{ reading.date }}</td>
            <td><input type="checkbox" class="form-check-input" name="reviewed" value="{{ reading.id }}" checked>{{reading.reviewed }}</td>
        </tr>
{% endfor %}
</tbody>
</table
<div class="col-sm-8">
    <div class="row">
        <button class="btn bg-green" id="submit-reviewed" type="submit">Submit Review</button>
    </div>
</div>
</form>
{% endif %}
</div>

<script>
$(document).ready(function() {
    var table = $('#recommendation-review-table').DataTable({
        "paging": false,
        "scrollX": false,
        "searching": false,
    });

} );
</script>

{% endblock content %}
