<!-- templates/report_eoy.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-print-none">
<form method="post" id="eoyReportForm" novalidate>
    {% csrf_token %}
<div class="container-sm">
    <div class="row selector">
        &emsp;<div class="col-sm-2 form-control-sm">
            {{ form.farm|as_crispy_field }}
        </div>
        <div class="col-sm-2 form-control-sm">
            {{ form.season|as_crispy_field }}
        </div>
        <div class="col-sm-3 form-control-sm">
            {{ form.template|as_crispy_field }}
        </div>
    </div>
</div>
</form>
</div>
<div id="report">

</div>

<!--{% for data in eoy_data.eoy_data %} <p>-{{ data }}- - {{ data.rainfall }} {{ counter }}</p> {% endfor %}-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
$(document).ready(function(){

    Highcharts.setOptions({
        credits: { enabled: false },
        exporting: { enabled: false },
        legend: { enabled: false },
    });

    var bar_colors = ['red','green'];

    $("#id_farm").change(function() {
        var farm_id = $(this).val();  // get the selected technician ID from the HTML input
        var season_id = $("#id_season").val();
        var template_id = $("#id_template").val();
        console.log("farm_id:" + farm_id);
        $.ajax({
            url: "/graphs/api/v1/eoy_farm_report/" + farm_id + "/" + season_id + "/" + template_id + "/",
            dataType: 'json',
            success: function(result) { // `data` is the return of the `load_cities` view function
                $("#report").empty();

                $("#report").append("<img style='width: 900px; height: 100px;'src='{% static 'skeleton/images/fruition_bloom_header.png' %}'/><p>"
                    + result.template + "</p><div class='pagebreak'> </div>")

                var farm = result.farm;
                var season = result.season;
                var data = result.site_data;
                var rain_data = result.rain_data;
                var weatherstation = result.weatherstation;
                var ten_year_average_rainfall = result.ten_year_average_rainfall;

                var rain_categories = []
                var rain_y = [] // The y values for the Rain Column graph

                /////////////////////////////////////// Start Rain Column Graph ///////////////////////////////////
                rain_data.forEach(function(r) {
                    console.log(r)
                    for (key in r) {
                        rain_categories.push(key)
                        rain_y.push(r[key])
                    }
                });

                var rainfall_comparison_name = "rainfall-comparison-" + farm_id;
                $("div[id='report']").append("<img style='width: 900px; height: 100px;'src='{% static 'skeleton/images/fruition_bloom_header.png' %}'></img>")
                var row = '';
                row_id = 'row-' + rainfall_comparison_name;
                row += "<div class='row' id='" + row_id + "'></div>"
                $("div[id='report']").append(row);

                content = '';
                content += "<figure class='highcharts-figure-rainfall-comparison'>"
                content += "<div id='" + rainfall_comparison_name + "' class='chart-rainfall-season'></div></figure>"
                $("div[id='" + row_id + "']").append(content);
                $("div[id='report']").append("<div class='pagebreak'> </div>");

                var rainfall_comparison_title = "<b>" + farm + ' ' + season + "</b> Rainfall percentage comparison with 10 previous years. <br />"
                    + weatherstation;

                var options = {
                    title: {
                        text: rainfall_comparison_title,
                    },
                    chart: { type: 'column',
                        renderTo: 'rainfall-comparison',
                        height: 450,
                        width: 900,
                    },
                    xAxis: {
                        categories: ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                        title: {
                            text: "<b>0% is no rainfall, 100% is average rainfall, 200% is twice average rainfall</b>",
                            style: {
                                'font-size': '20px',
                            },
                        },
                        visible: true,
                    },
                    yAxis: {
                        min: 0,
                        visible: true,
                        title: { text: "% of Average Rainfall" },
                    },
                    plotOptions: {
                        column: {
                            zones: [{
                                value: 100,
                                color: 'red'
                            },
                            {
                                color: 'blue'
                            }],
                            //stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: []
                };

                options.series.push({name: 'Rainfall',  type: 'column', threshold: 100, data: rain_y});
                var rainfall_season_chart = new Highcharts.Chart(rainfall_comparison_name, options)

            data.forEach(function(d) {
                $("#report").append("<h4><b>" + season + " - " + farm +
                    "      " + d.site + " Site : (" + d.site_number + ")</b>&emsp;&emsp;<img style='width: 170px; height: 28px;'src='{% static 'skeleton/images/fruition_logo.png' %}'/></h4>")
                $("#report").append("<h5>Seasonal Summary and Strategy&emsp;&emsp;&emsp;&emsp;&emsp;Rootzone: 0-" +
                    d.rz1 + " cm&emsp;&emsp;&emsp;&emsp;Soil Classification: " + d.soil_type + "</h5>")

                /////////////////////////////////////// Start Season Graph ///////////////////////////////////
                var parseTime = d3.timeParse("%d-%m-%Y");
                var formatTime = d3.timeFormat("%d-%m-%Y");

                var reading_data = [];
                var strategy_area_data = [];
                var rainfall_data = [];
                var irrigation_data = [];
                var critical_data = {};
                var fullpoint = 0;
                var refill = 0;
                var minReading = undefined;
                var maxReading = undefined;

                period_from = moment(d.period_from);
                period_to = moment(d.period_to);
                parameter_string = d.site_id + '/' + period_from.format('DD-MM-YYYY') + '/' + period_to.format('DD-MM-YYYY');

                var row = '';
                row_id = 'row-' + d.site_id + "-graph";
                row += "<div class='row' id='" + row_id + "'></div>"
                $("div[id='report']").append(row);
                var chart_name = 'season-graph-' + d.site_id;
                content = '';
                content += "<figure class='highcharts-figure-season-graph'>"
                content += "<div id='" + chart_name + "' class='chart-season-graph'></div></figure>"
                $("div[id='" + row_id + "']").append(content);

                d3.json('/graphs/api/vsw_reading/' + parameter_string + '/?format=json').then(function(data) {
                    d3.json('/graphs/api/vsw_strategy/' + parameter_string + '/?format=json').then(function(strategy_data) {
                        data.forEach(function(reading) {

                            parsed_date = parseTime(reading.date);
                            if (reading.reading_type.name == "Probe") {
                                rz1 = Math.round(reading["rz1"]);
                                reading_data.push({
                                    x : parsed_date,
                                    y : rz1
                                });
                                rainfall_data.push({
                                    x : parsed_date,
                                    y : reading.rain
                                });
                                irrigation_data.push({
                                    x : parsed_date,
                                    y : reading.irrigation_mms
                                });
                                if (minReading === undefined || rz1 < minReading)
                                    minReading = rz1;
                                if (maxReading === undefined || rz1 > maxReading)
                                    maxReading = rz1;
                            } else if (reading.reading_type.name == "Full Point") {
                                fullpoint = Math.round(reading["rz1"]);
                            } else if (reading.reading_type.name == "Refill") {
                                refill = Math.round(reading["rz1"]);
                            }
                        }); // End loop of reading data

                        diff = fullpoint - refill;

                        strategy_data.forEach(function(strategy) {
                            critical_data[strategy.critical_date_type] = strategy.critical_date;

                            var strategyDate = parseTime(strategy.strategy_date);
                            var upper = fullpoint - (diff - diff * strategy.percentage);

                            strategy_area_data.push({
                                x: strategyDate,
                                high: upper,
                                low: upper - diff * 0.5
                            });
                        }); // End strategy data loop

                        // Sort by date (x) implicitly, dont rely on api call being in date order
                        strategy_area_data.sort((a, b) => a.x - b.x);
                        reading_data.sort((a, b) => a.x - b.x);
                        rainfall_data.sort((a, b) => a.x - b.x);
                        irrigation_data.sort((a, b) => a.x - b.x);

                        maxY = 0;
                        minY = 0;
                        if (maxReading >= fullpoint){ maxY = maxReading } else { maxY = fullpoint }
                        if (minReading <= refill){ minY = minReading } else { minY = refill }

                        var options = {
                            title: null,
                            chart: {
                                title: 'Season',
                                renderTo: 'season-graph',
                                type: 'area',
                                height: 250,
                                width: 900
                            },
                            xAxis: {
                              type: 'datetime',
                              plotLines: [],
                            },
                            yAxis: [{
                                title: { text: 'Soil Water Content (mm)' },
                                min: minY,
                                max: maxY,
                                plotLines: [{
                                  value: fullpoint,
                                  color: 'green',
                                  width: 2,
                                  label: { text: 'Full Point' },
                                },
                                {
                                  value: refill,
                                  color: 'red',
                                  width: 2,
                                  label: { text: 'Refill' },

                                }],
                            },
                            {
                                title: { text: 'Rain (mm)' },
                                opposite: true
                            }],
                            legend: { enabled: true },
                            plotOptions: {
                              series: {
                                states: {
                                  inactive: {
                                    opacity: 1
                                  }
                                }
                              },
                              column: {
                                pointPadding: 0,
                                groupPadding: 0
                              }
                            },
                            series: [
                                {
                                  name: 'Readings',
                                  type: 'line',
                                  data: reading_data,
                                  yAxis: 0,
                                  color: 'black',
                                  marker: {
                                    enabled: true,
                                    symbol: 'circle',
                                    fillColor: 'black'
                                  },
                                  tooltip: {
                                    valueSuffix: ' mm',
                                    valueDecimals: 1
                                  }
                              },
                              {
                                name: 'Strategy',
                                type: 'arearange',
                                data: strategy_area_data,
                                yAxis: 0,
                                marker: {
                                  enabled: false
                                },
                                color: '#9dc8f1',
                                fillOpacity: 0.5,
                                tooltip: {
                                  valueSuffix: ' mm',
                                  valueDecimals: 1
                                }
                              },
                        ]}; // end options
                        options.xAxis.plotLines = [];
                        for (const criticalDateType in critical_data) {
                            options.xAxis.plotLines.push({
                                value: parseTime(critical_data[criticalDateType]),
                                label: { text: criticalDateType }
                            });
                        }

                        options.series.push({
                          name: 'Rainfall',
                          type: 'column',
                          color: 'blue',
                          data: rainfall_data,
                          yAxis: 1,
                          tooltip: {
                            valueSuffix: ' mm',
                            valueDecimals: 1
                          }
                        },
                        {
                          name: 'Irrigation',
                          type: 'column',
                          color: 'red',
                          data: irrigation_data,
                          yAxis: 1,
                          tooltip: {
                            valueSuffix: ' mm',
                            valueDecimals: 1
                          }
                        })

                        var chart = new Highcharts.Chart(chart_name, options)

                    }); // End json strategy call
                }); // End json reading call

                /////////////////////////////////////// End Season Graph ////////////////////////////////////////////

                // It looks like we need a row of a bar chart, then a gauge and then another bar chart. This will be called mini-charts
                var row = '';
                row_id = 'row-' + d.site_id + '-mini-charts';
                row += "<div class='row' id='" + row_id + "'></div>";
                $("#report").append(row);

                /////////////////////////////////////// Start Season Rainfall Bar Graph ////////////////////////////////////////////

                var rainfall_season_name = "rainfall-season-" + d.site_id;
                content = '';
                content += "<figure class='highcharts-figure-rainfall-season'>"
                content += "<div id='" + rainfall_season_name + "' class='chart-rainfall-season'></div></figure>"
                $("div[id='" + row_id + "']").append(content);

                var rainfall_season_caption = "<b>How does your block compare?</b><br />Here's how the " + season + " season rainfall compares with the previous 10 seasons.";
                var rainfall_season_options = {
                    title: {
                        text: "Season's Rainfall (mm)",
                    },
                    chart: { type: 'column',
                        renderTo: 'rainfall-season',
                        height: 300,
                        width: 300
                    },
                    xAxis: {
                        categories: ['You', '10 Year Average'],
                        title: {
                            text: rainfall_season_caption,
                        },
                    },
                    yAxis: {
                        title: { text: null },
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: [{
                        name: null,
                        data: [
                            {y: Math.round(d.rain), color: 'blue'},
                            {y: Math.round(ten_year_average_rainfall), color: 'green'},
                        ],
                    }],
                }
                var rainfall_season_chart = new Highcharts.Chart(rainfall_season_name, rainfall_season_options)
                /////////////////////////////////////// End Season Rainfall Bar Graph ////////////////////////////////////////////

                /////////////////////////////////////// Start Gauges Graphs ////////////////////////////////////////////

                // This has gone from 3 gauge to one graph unfortunatly. It works by correctly naming the api fields.
                // 1. The raw sum field for a season. "eff_irrigation": 346.94,
                // 2. The percent diff between effective irrigation and total irrigation for a season "eff_irrigation_perc": 100.0,

                var gauges = {
                    eff_irrigation: {
                        title: 'Irrigation Efficency (Site)',
                        blurb: "Here's how effective your irrigation for<br/> the season has been. Effective irrigation<br/> is the % of irrigation applied <br/>" +
                            "that remains in the effective <br/>rootzone and is used by the tree."
                    },
                };

                // Loop thrugh the gauges we are going to display
                for (var key in gauges) {

                    var gauge_name = key + '-' + d.site_id; // this is unique for each gauge/chart eg. irrigation_mms-238-2020-2021
                    var gauge_data = d[key]
                    var gauge_data_perc = d[key + '_perc'];

                    content = '';
                    content += "<figure class='highcharts-figure-season-gauges'>"
                    content += "<div id='" + gauge_name + "' class='chart-season-gauges'></div></figure>"
                    $("div[id='" + row_id + "']").append(content);

                    // Start Gauge Options //
                    gaugeOptions = {
                        chart: {
                            type: 'solidgauge',
                            height: 300,
                            width: 300,
                        },
                        title: {
                            text: gauges[key].title,
                        },
                        pane: {
                            centre: ['10', '120'],
                            size: '200',
                            startAngle: -90,
                            endAngle: 90,
                            background: {
                                //backgroundColor:
                                //    Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                                innerRadius: '60%',
                                outerRadius: '100%',
                                shape: 'arc'
                            }
                        },
                        yAxis: {
                            stops: [
                                [0.50, 'red'], // green
                                [0.80, 'orange'], // yellow
                                [0.99, 'green'] // red
                            ],
                            lineWidth: 2,
                            tickWidth: 2,
                            minorTickInterval: null,
                            tickAmount: 2,
                            title: {
                                y: -70
                            },
                            labels: {
                                y: 9
                            }
                        },

                        plotOptions: {
                            solidgauge: {
                                dataLabels: {
                                    y: 5,
                                    borderWidth: 0,
                                    useHTML: true
                                }
                            }
                        }
                    }; // End Gauge Options

                    var gaugeChart = Highcharts.chart(gauge_name, Highcharts.merge(gaugeOptions, {
                        yAxis: {
                            min: 0,
                            max: 100,
                            visible: false,
                        },
                        series: [{
                            data: [gauge_data_perc],
                            dataLabels: {
                                allowOverlap: true,
                                format:
                                    '<div style="text-align:center">' +
                                    '<span style="font-size:18px;text-align:center;">{y}%</span><br/>' +
                                    '<span style="font-size:12px;font-weight:lighter;">' + gauges[key].blurb + '</span>' +
                                    '</div>'
                            },
                        }]
                    })); // End Gauge Chart
                } // End loop of Gauges font-weight:lighter;
                /////////////////////////////////////// End Gauge ////////////////////////////////////////////

                //////////////////// Start Total Irrigation Bar Chart - Compares this years immigarion versus last year //////////////////////////////////

                var irrigation_name = "irrigation-season-" + d.site_id;
                content = '';
                content += "<figure class='highcharts-figure-irrigation-season'>"
                content += "<div id='" + irrigation_name + "' class='chart-irrigation-season'></div></figure>"
                $("div[id='" + row_id + "']").append(content);

                var irrigation_caption = "This compares " + season + " season total irrigation applied versus last seasons.";
                var irrigation_options = {
                    title: {
                        text: "Irrigation Applied (mm)",
                    },
                    chart: { type: 'column',
                        renderTo: 'irrigation-season',
                        height: 300,
                        width: 300
                    },
                    xAxis: {
                        categories: ['This Year', 'Last year'],
                        title: {
                            text: irrigation_caption,
                        },
                        visible: true,
                    },
                    yAxis: {
                        min: 0,
                        visible: true,
                        title: { text: null },
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: [{
                        name: null,
                        data: [
                            {y: Math.round(d.irrigation_mms), color: bar_colors[0]},
                            {y: Math.round(d.last_season_irrigation_mms), color: bar_colors[1]},
                        ],
                    }],
                }
                var irrigation_chart = new Highcharts.Chart(irrigation_name, irrigation_options)

                /////////////////////////////////////// End Irrigation Bar Chart ////////////////////////////////////////////

                /////////////////////////////////////// Start Season Summary ////////////////////////////////////////////

                var summary_name = 'season-summary-' + d.site_id;
                var row = '';
                row_id = 'row-' + d.site_id + "-season-summary";
                row += "<div class='row' id='" + row_id + "'></div>"
                $("div[id='report']").append(row);

                content = '';
                content += "<figure class='highcharts-figure-season-summary'>"
                content += "<div id='" + summary_name + "' class='chart-season-summary'></div></figure>"
                $("div[id='" + row_id + "']").append(content);
                $("div[id='report']").append("<div class='pagebreak'> </div>");

                /////////////////////////////////////// End Season Summary ////////////////////////////////////////////
                var perc_comparison = 0;
                perc_comparison = Math.round(((d.irrigation_mms - d.average_eff_irrigation) / ((d.irrigation_mms + d.average_eff_irrigation) / 2)) * 100)

                var word = 'more'
                if (perc_comparison < 0) { word = 'less'; }

                var summary_title = "<b>How does your block compare?</b><br />" +
                    "Comparison of you seasonal water use with other blocks of similar crop type and soil type for the " +
                    season + " season.<br />Your block used " + Math.abs(perc_comparison) + "% " + word + " water over the season</p>";
                var summary_caption = "<i>Data based on supplied irrigation system specifications:</i> <b>" + d.application_rate + " L/plant/Hr</b>";

                var season_summary_options = {
                    title: { text: summary_title},
                    chart: { type: 'bar',
                        renderTo: 'season-summary',
                        height: 250,
                        width: 700
                    },
                    xAxis: {
                        categories: ['You', 'Similar Sites'],
                        title: { text: null },
                        labels: {
                            style: {
                                fontSize: "14px",
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: summary_caption,
                            textAlign: 'center',
                            style: {
                                'font-size': '14px'
                            },
                        },
                        visible: true,
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                format: '<b>{y} mm</b>',
                            }
                        }
                    },
                    series: [{
                        name: null,
                        data: [
                            {y: Math.round(d.irrigation_mms), color: bar_colors[0]},
                            {y: Math.round(d.average_eff_irrigation), color: bar_colors[1]},
                        ],
                    }],
                }
                var season_summary_chart = new Highcharts.Chart(summary_name, season_summary_options)
            }); // End loop of data
        }
    });
}); // End onchange farm
});
</script>

{% endblock content %}
