<!-- templates/report_reading_types.html -->

{% load static %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Site</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>

    {% for missing_sites in sites %}

        {% for key, values in missing_sites.items %}
            {% for site in values %}

    <tr>
      <td>{{ site.name }}</td>
      <td>{{ site.crop }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}

</tbody>
</table>

{% endblock content %}
