<!-- templates/selector.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block selector %}

<form method="post" id="readingForm" data-sites-url="{% url 'ajax_load_sites' %}" novalidate>
    {% csrf_token %}
    <div class="container-sm">
        <div class="row selector">
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="previousSite">Previous</button>
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.farm|as_crispy_field }}
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.site|as_crispy_field }}
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.technician|as_crispy_field }}
            </div>
            <div class="col-sm-1 form-control-sm">
                {{ form.season|as_crispy_field }}
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="nextSite">Next</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="showReading">Reading</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="show-graph">Graph</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="display-site-note" data-toggle="modal" data-target="#site-note-modal">+ Add note</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="display-reading-recommendation" data-toggle="modal" data-target="#reading-recommendation-modal">Recommendation</button>
            </div>
        </div>
    </div>
</form>

<div id="reading-list" data-readings-url="{% url 'ajax_load_site_readings' %}" graph-url="{% url 'ajax_load_graph' %}">
</div>

<!-- The Site Note Modal -->
<div class="modal" id="site-note-modal" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-green">
          <h4 class="modal-title">Site Note</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <textarea class="form-control form-control-md" id="site-note-text"></textarea>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn bg-green" id="save-site-note" data-dismiss="modal">Submit</button>
        </div>

      </div>
    </div>
</div>

<!-- The Reading Recommendation Modal -->
<div class="modal" id="reading-recommendation-modal" >
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <div class="modal-header bg-green">
          <h4 class="modal-title">Reading Recommendation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <textarea class="form-control form-control-md" rows="7" id="reading-recommendation-text"></textarea>
            <label>Hours:</label>
            <div id='week-day-labels'>
                <label for="Mon">Mon</label>
                <label for="Tue">Tue</label>
                <label for="Wed">Wed</label>
                <label for="Thu">Thu</label>
                <label for="Fri">Fri</label>
                <label for="Sat">Sat</label>
                <label for="Sun">Sun</label>
            </div>
            <div id='week-days' class="input-group">

                    <input type="text" class="form-control" id="Mon" placeholder="Mon">

                <input type="text" class="form-control" id="Tue" placeholder="Tue">
                <input type="text" class="form-control" id="Wed" placeholder="Wed">
                <input type="text" class="form-control" id="Thu" placeholder="Thu">
                <input type="text" class="form-control" id="Fri" placeholder="Fri">
                <input type="text" class="form-control" id="Sat" placeholder="Sat">
                <input type="text" class="form-control" id="Sun" placeholder="Sun">
             </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn bg-green" id="save-reading-recommendation" data-dismiss="modal">Submit</button>
        </div>

      </div>
    </div>
</div>

<script>

    /******************* start loadScreen ********************************/
    function loadScreen(site, season, url) {
        //alert("loadScreen");
        if (site) {
            $.ajax({
                url: url,
                data: {
                    'site': site, // add the site id to the GET parameters
                    'season': season
                },

                success: function(data) {
                    //console.log(data);
                    $("#reading-list").empty(); // empty out the div first
                    $("#reading-list").append(data);
                }
            });
        }
        else {
            $("#reading-list").empty();  // empty out the div first
        }
    }
    /********************* end loadScreen ********************************/

    var screenDisplay = 'data-readings-url'; // default to data-readings-url
    console.log("screenDisplay:" + screenDisplay)
    //TODO: Refactor
    $("#previousSite").click(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site option:selected").prev().val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("seasonId:" + seasonId);
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#id_farm").change(function() {
        var url = $("#readingForm").attr("data-sites-url");
        console.log("URL:" + url);
        var farmId = $(this).val();  // get the selected technician ID from the HTML input
        console.log("farmId:" + farmId);
        $.ajax({
            url: url,
            data: {
                'farm': farmId // add the technician id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#reading-list").empty();
                $("#id_site").html(data); // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_site").change(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $(this).val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("seasonId:" + seasonId);

        loadScreen(siteId, seasonId, url);
    });
    $("#id_technician").change(function() {
        var url = $("#readingForm").attr("data-sites-url");
        console.log("URL:" + url);
        var technicianId = $(this).val();  // get the selected technician ID from the HTML input
        console.log("technicianId:" + technicianId);
        $.ajax({
            url: url,
            data: {
                'technician': technicianId // add the technician id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#reading-list").empty();
                $("#id_site").html(data); // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_season").change(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        console.log("siteId:" + siteId);
        var seasonId = $(this).val();
        console.log("seasonId:" + seasonId);

        loadScreen(siteId, seasonId, url);
    });
    $("#nextSite").click(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site option:selected").next().val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("seasonId:" + seasonId);
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#show-graph").click(function() {
        screenDisplay = "graph-url";
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        var seasonId = $("#id_season").val();
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#showReading").click(function() {
        screenDisplay = "data-readings-url";
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("Season:" + seasonId);
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#display-site-note").click(function() {
        var siteId = $("#id_site").val();
        console.log("SiteID:" + siteId);
        $.ajax({
            url: "/ajax/process-site-note/",
            data: {
                'site': siteId
            },
            dataType: 'json',
            success: function(result) {
                $("textarea#site-note-text").val(result.comment);
            }
        });
    });
    $("#save-site-note").click(function() {
        var siteId = $("#id_site").val();
        var comment = $("#site-note-text").val();
        $.ajax({
            url: "/ajax/process-site-note/",
            data: {
                'site': siteId,
                'comment': comment
            },
            dataType: 'json',
            success: function(result) {
                $("textarea#site-note-text").val(result.comment);
            }
        });
    });
    $("#display-reading-recommendation").click(function() {
        var siteId = $("#id_site").val();
        console.log("SiteID:" + siteId);
        $.ajax({
            url: "/ajax/process-reading-recommendation/",
            data: {
                'site': siteId
            },
            dataType: 'json',
            success: function(result) {
                function reorder(data, index) {
                    return data.slice(index).concat(data.slice(0, index));
                }

                $("textarea#reading-recommendation-text").val(result.comment);
                console.log(result.values['Mon']);

                $("input#Mon").val(result.values['Mon']);
                $("input#Tue").val(result.values['Tue']);
                $("input#Wed").val(result.values['Wed']);
                $("input#Thu").val(result.values['Thu']);
                $("input#Fri").val(result.values['Fri']);
                $("input#Sat").val(result.values['Sat']);
                $("input#Sun").val(result.values['Sun']);

                wrapper = $('#week-days');

                var days_input = wrapper.children();
                console.log(days_input)
                arr = [0,1,2,3,4,5,6];
                arr = reorder(arr, 2)

                wrapper.append( $.map(arr, function(v){ return days_input[v] }) );
                wrapper = $('#week-day-labels');
                var days_label = wrapper.children();
                wrapper.append( $.map(arr, function(v){ return days_label[v] }) );

            }
        });
    });
    $("#save-reading-recommendation").click(function() {
        var siteId = $("#id_site").val();
        var comment = $("#reading-recommendation-text").val();
        $.ajax({
            url: "/ajax/process-reading-recommendation/",
            data: {
                'site': siteId,
                'comment': comment,

            },
            dataType: 'json',
            success: function(result) {
                console.log('Result' + result);
                $("textarea#reading-recommendation-text").val(result.comment);
            }
        });
    });

</script>

{% endblock selector %}
