<!-- templates/selector.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block selector %}

<form method="post" id="readingForm" data-sites-url="{% url 'ajax_load_sites' %}" novalidate>
    {% csrf_token %}
    <div class="container-sm">
        <div class="row selector">
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="previousSite">Previous</button>
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.farm|as_crispy_field }}
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.site|as_crispy_field }}
            </div>
            <div class="col-sm-2 form-control-sm">
                {{ form.technician|as_crispy_field }}
            </div>
            <div class="col-sm-1 form-control-sm">
                {{ form.season|as_crispy_field }}
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="nextSite">Next</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="showReading">Reading</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="show-graph">Graph</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="display-site-note" data-toggle="modal" data-target="#site-note-modal">+ Add note</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn bg-green btn-sm" id="display-reading-recommendation" data-toggle="modal" data-target="#reading-recommendation-modal">Recommendation</button>
            </div>
        </div>
    </div>
</form>

<div id="reading-list" data-readings-url="{% url 'ajax_load_site_readings' %}" graph-url="{% url 'ajax_load_graph' %}">
</div>

<!-- The Site Note Modal -->
<div class="modal" id="site-note-modal" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-green">
          <h4 class="modal-title">Site Note</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <textarea class="form-control form-control-md" id="site-note-text"></textarea>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn bg-green" id="save-site-note" data-dismiss="modal">Submit</button>
        </div>

      </div>
    </div>
</div>

<!-- The Reading Recommendation Modal -->
<div class="modal" id="reading-recommendation-modal" >
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <div class="modal-header bg-green">
          <h4 class="modal-title">Reading Recommendation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <textarea class="form-control form-control-md" rows="7" id="reading-recommendation-text"></textarea>
            <div id='week-day-labels' class="input-group">
                <input type="text" class="form-control" id="Mon-label" placeholder="Mon" readonly>
                <input type="text" class="form-control" id="Tue-label" placeholder="Tue" readonly>
                <input type="text" class="form-control" id="Wed-label" placeholder="Wed" readonly>
                <input type="text" class="form-control" id="Thu-label" placeholder="Thu" readonly>
                <input type="text" class="form-control" id="Fri-label" placeholder="Fri" readonly>
                <input type="text" class="form-control" id="Sat-label" placeholder="Sat" readonly>
                <input type="text" class="form-control" id="Sun-label" placeholder="Sun" readonly>
            </div>
            Hours
            <div id='week-days' class="input-group">
                <input type="text" class="form-control" id="Mon" placeholder="Mon">
                <input type="text" class="form-control" id="Tue" placeholder="Tue">
                <input type="text" class="form-control" id="Wed" placeholder="Wed">
                <input type="text" class="form-control" id="Thu" placeholder="Thu">
                <input type="text" class="form-control" id="Fri" placeholder="Fri">
                <input type="text" class="form-control" id="Sat" placeholder="Sat">
                <input type="text" class="form-control" id="Sun" placeholder="Sun">
             </div>
             mm
             <div id='week-days-water' class="input-group">
                 <input type="text" class="form-control" id="Mon-water" readonly>
                 <input type="text" class="form-control" id="Tue-water" readonly>
                 <input type="text" class="form-control" id="Wed-water" readonly>
                 <input type="text" class="form-control" id="Thu-water" readonly>
                 <input type="text" class="form-control" id="Fri-water" readonly>
                 <input type="text" class="form-control" id="Sat-water" readonly>
                 <input type="text" class="form-control" id="Sun-water" readonly>
              </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn bg-green" id="save-reading-recommendation" data-dismiss="modal">Submit</button>
          <button type="reset" class="btn bg-green" id="reset-reading-recommendation">Reset</button>
          <input type="hidden" id="action" name="action" value="submit">
        </div>

      </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>

    /******************* start loadScreen ********************************/
    function loadScreen(site, season, url) {
        //alert("loadScreen");
        if (site) {
            $.ajax({
                url: url,
                data: {
                    'site': site, // add the site id to the GET parameters
                    'season': season
                },

                success: function(data) {
                    //console.log(data);
                    $("#reading-list").empty(); // empty out the div first
                    $("#reading-list").append(data);
                }
            });
        }
        else {
            $("#reading-list").empty();  // empty out the div first
        }
    }
    /********************* end loadScreen ********************************/

    var screenDisplay = 'data-readings-url'; // default to data-readings-url
    console.log("screenDisplay:" + screenDisplay)
    //TODO: Refactor
    $("#previousSite").click(function() {
        var url = $("#reading-list").attr(screenDisplay);
        var siteId = $("#id_site option:selected").prev().val();
        var seasonId = $("#id_season").val();
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#id_farm").change(function() {
        var url = $("#readingForm").attr("data-sites-url");
        var farmId = $(this).val();  // get the selected technician ID from the HTML input
        $.ajax({
            url: url,
            data: {
                'farm': farmId // add the technician id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#reading-list").empty();
                $("#id_site").html(data); // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_site").change(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $(this).val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("seasonId:" + seasonId);

        loadScreen(siteId, seasonId, url);
    });
    $("#id_technician").change(function() {
        var url = $("#readingForm").attr("data-sites-url");
        console.log("URL:" + url);
        var technicianId = $(this).val();  // get the selected technician ID from the HTML input
        console.log("technicianId:" + technicianId);
        $.ajax({
            url: url,
            data: {
                'technician': technicianId // add the technician id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#reading-list").empty();
                $("#id_site").html(data); // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_season").change(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        console.log("siteId:" + siteId);
        var seasonId = $(this).val();
        console.log("seasonId:" + seasonId);

        loadScreen(siteId, seasonId, url);
    });
    $("#nextSite").click(function() {
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site option:selected").next().val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("seasonId:" + seasonId);
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#show-graph").click(function() {
        screenDisplay = "graph-url";
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        var seasonId = $("#id_season").val();
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#showReading").click(function() {
        screenDisplay = "data-readings-url";
        var url = $("#reading-list").attr(screenDisplay);
        console.log("URL:" + url);
        var siteId = $("#id_site").val();
        console.log("siteId:" + siteId);
        var seasonId = $("#id_season").val();
        console.log("Season:" + seasonId);
        $("#id_site").val(siteId);
        loadScreen(siteId, seasonId, url);
    });
    $("#display-site-note").click(function() {
        var siteId = $("#id_site").val();
        console.log("SiteID:" + siteId);
        $.ajax({
            url: "/ajax/process-site-note/",
            data: {
                'site': siteId
            },
            dataType: 'json',
            success: function(result) {
                $("textarea#site-note-text").val(result.comment);
            }
        });
    });
    $("#save-site-note").click(function() {
        var siteId = $("#id_site").val();
        var comment = $("#site-note-text").val();
        $.ajax({
            url: "/ajax/process-site-note/",
            data: {
                'site': siteId,
                'comment': comment
            },
            dataType: 'json',
            success: function(result) {
                $("textarea#site-note-text").val(result.comment);
            }
        });
    });
    $("#display-reading-recommendation").click(function() {
        text = $("#reading-list").find("p").text();

        if (text == 'No readings') {
            $('#reading-recommendation-modal').modal('toggle');
            return;
        }

        var siteId = $("#id_site").val();
        if (siteId < 1) {
            $('#reading-recommendation-modal').modal('toggle');
            return;
        }

        var seasonId = $("#id_season").val();
        $.ajax({
            url: "/ajax/process-reading-recommendation/",
            data: {
                'site': siteId,
                'season' : seasonId
            },
            dataType: 'json',
            success: function(result) {
                $("#reading-recommendation-modal textarea#reading-recommendation-text").val(result.comment);

                $("#reading-recommendation-modal input#Mon").val(result.values['Mon']);
                $("#reading-recommendation-modal input#Tue").val(result.values['Tue']);
                $("#reading-recommendation-modal input#Wed").val(result.values['Wed']);
                $("#reading-recommendation-modal input#Thu").val(result.values['Thu']);
                $("#reading-recommendation-modal input#Fri").val(result.values['Fri']);
                $("#reading-recommendation-modal input#Sat").val(result.values['Sat']);
                $("#reading-recommendation-modal input#Sun").val(result.values['Sun']);

                $("#reading-recommendation-modal input#Mon-water").val(result.values['Mon-water']);
                $("#reading-recommendation-modal input#Tue-water").val(result.values['Tue-water']);
                $("#reading-recommendation-modal input#Wed-water").val(result.values['Wed-water']);
                $("#reading-recommendation-modal input#Thu-water").val(result.values['Thu-water']);
                $("#reading-recommendation-modal input#Fri-water").val(result.values['Fri-water']);
                $("#reading-recommendation-modal input#Sat-water").val(result.values['Sat-water']);
                $("#reading-recommendation-modal input#Sun-water").val(result.values['Sun-water']);

                updateReadingRecommendations(result.week_start_abbr, result.week_start);
            }
        });
    });
    $("#reset-reading-recommendation").click(function() {
        $('#reading-recommendation-modal textarea#reading-recommendation-text').val('')
        $("#reading-recommendation-modal input#Mon").val(0)
        $("#reading-recommendation-modal input#Tue").val(0);
        $("#reading-recommendation-modal input#Wed").val(0);
        $("#reading-recommendation-modal input#Thu").val(0);
        $("#reading-recommendation-modal input#Fri").val(0);
        $("#reading-recommendation-modal input#Sat").val(0);
        $("#reading-recommendation-modal input#Sun").val(0);


    });
    $("#save-reading-recommendation").click(function() {
        var siteId = $("#id_site").val();
        var seasonId = $("#id_season").val();
        var comment = $('#reading-recommendation-modal textarea#reading-recommendation-text').val();
        var action = $("#reading-recommendation-modal input#action").val();

        var mon = $("#reading-recommendation-modal input#Mon").val();
        var tue = $("#reading-recommendation-modal input#Tue").val();
        var wed = $("#reading-recommendation-modal input#Wed").val();
        var thu = $("#reading-recommendation-modal input#Thu").val();
        var fri = $("#reading-recommendation-modal input#Fri").val();
        var sat = $("#reading-recommendation-modal input#Sat").val();
        var sun = $("#reading-recommendation-modal input#Sun").val();

        $.ajax({
            url: "/ajax/process-reading-recommendation/",
            data: {
                'site': siteId,
                'comment': comment,
                'season' : seasonId,
                'action' : action,
                'Mon' : mon,
                'Tue' : tue,
                'Wed' : wed,
                'Thu' : thu,
                'Fri' : fri,
                'Sat' : sat,
                'Sun' : sun,
            },
            dataType: 'json',
            success: function(result) {
                console.log('Result' + result);
                $("#reading-recommendation-modal textarea#reading-recommendation-text").val(result.comment);
            }
        });
    });

    $("#reading-recommendation-modal").draggable({
        handle: ".modal-header"
    });

</script>

{% endblock selector %}
