{% extends 'base.html' %}

{% block content %}
    {% include "selector.html" with form=SelectorForm %}
    <h1>Readings</h1>
    {% if readings.all %}
        <h2>{{ readings.first.site }}</h2>
        <a href="{% url 'readings' %}">Change site</a>
        <div class="row">
                <div class="col-2">
                    <div class="readings-table-header">
                        <div class="readings-column">
                            <ul>
                                <li>ID</li>
                                <li>Site</li>
                                <li>Type</li>
                                <li>Date</li>
                                <li>Depth 1</li>
                                <li>Depth 2</li>
                                <li>Depth 3</li>
                                <li>Depth 4</li>
                                <li>Depth 5</li>
                                <li>Depth 6</li>
                                <li>Depth 7</li>
                                <li>Depth 8</li>
                                <li>Depth 9</li>
                                <li>Depth 10</li>
                                <li>Depth 11</li>
                                <li>Depth 12</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                        <section class="readings-table">
                                {% for reading in readings %}
                                <div class="readings-column">
                                    <ul>
                                        <li>{{ reading.id }}</li>
                                        <li>{{ reading.site }}</li>
                                        <li>{{ reading.type }}</li>
                                        <li>{{ reading.date }}</li>
                                        <li>{{ reading.depth1 }}</li>
                                        <li>{{ reading.depth2 }}</li>
                                        <li>{{ reading.depth3 }}</li>
                                        <li>{{ reading.depth4 }}</li>
                                        <li>{{ reading.depth5 }}</li>
                                        <li>{{ reading.depth6 }}</li>
                                        <li>{{ reading.depth7 }}</li>
                                        <li>{{ reading.depth8 }}</li>
                                        <li>{{ reading.depth9 }}</li>
                                        <li>{{ reading.depth10 }}</li>
                                        <li>{{ reading.depth11 }}</li>
                                        <li>{{ reading.depth12 }}</li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </section>
                </div>
            </div>

    {% else %}
        <h2>No Readings</h2>
        <p>There are no readings for this site, or the site may not exist.</p>
    {% endif %}


{% endblock content %}
