{% load static %}
{% block content %}
<h5 align="center">{{ title }}</h5>
{% if readings %}

<table class="table table-sm table-bordered text-nowrap" id="reading-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Depth 1</th>
            <th>Depth 2</th>
            <th>Depth 3</th>
            <th>Depth 4</th>
            <th>Depth 5</th>
            <th>Depth 6</th>
            <th>Depth 7</th>
            <th>Depth 8</th>
            <th>Depth 9</th>
            <th>Depth 10</th>
            <th>RZ1</th>
            <th>RZ2</th>
            <th>RZ3</th>
            <th>Deficit</th>
            <th>Prb DWU</th>
            <th>Est DWU</th>
            <th>Rain</th>
            <th>Meter</th>
            <th>Irri (L)</th>
            <th>Irri (mm)</th>
            <th>Effective Rainfall</th>
            <th>Effective Irridation</th>
        </tr>
    </thead>
    <tbody>
        {% for reading in readings %}
        {% if reading.type == 'Refill' %}
            <tr class='refill clickable-row' data-href="{% url 'admin:skeleton_reading_change' reading.reading_id %}">
        {% elif reading.type == 'Full Point' %}
            <tr class='full clickable-row' data-href="{% url 'admin:skeleton_reading_change' reading.reading_id %}">
        {% else %}
            <tr class='clickable-row' data-href="{% url 'admin:skeleton_reading_change' reading.reading_id %}">
        {% endif %}
            <td>{{ reading.type }}</td>
            <td>{{ reading.date }}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw1_perc|floatformat }}
                {% else %}
                {{ reading.vsw1|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw2_perc|floatformat }}
                {% else %}
                {{ reading.vsw2|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw3_perc|floatformat }}
                {% else %}
                {{ reading.vsw3|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw4_perc|floatformat }}
                {% else %}
                {{ reading.vsw4|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw5_perc|floatformat }}
                {% else %}
                {{ reading.vsw5|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw6_perc|floatformat }}
                {% else %}
                {{ reading.vsw6|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw7_perc|floatformat }}
                {% else %}
                {{ reading.vsw7|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw8_perc|floatformat }}
                {% else %}
                {{ reading.vsw8|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw9_perc|floatformat }}
                {% else %}
                {{ reading.vsw9|floatformat }}
                {% endif %}</td>
            <td>{% if reading.type == 'Probe' %}
                {{ reading.vsw10_perc|floatformat }}
                {% else %}
                {{ reading.vsw10|floatformat }}
                {% endif %}</td>
            <td>{{ reading.rz1|floatformat }}</td>
            <td>{{ reading.rz2|floatformat }}</td>
            <td>{{ reading.rz3|floatformat }}</td>
            <td>{{ reading.deficit|floatformat }}</td>
            <td>{{ reading.probe_dwu|floatformat }}</td>
            <td>{{ reading.estimated_dwu|floatformat }}</td>
            <td>{{ reading.rain|floatformat }}</td>
            <td>{{ reading.meter|floatformat }}</td>
            <td>{{ reading.irrigation_litres|floatformat }}</td>
            <td>{{ reading.irrigation_mms|floatformat }}</td>
            <td>{{ reading.effective_rainfall|floatformat }}</td>
            <td>{{ reading.effective_irrigation|floatformat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="card-footer">
    <div class="row">
       <div class="col-sm-4">
           <b>Season to date totals:</b>
       </div>
       <div class="col-sm-4">
           Irrigation: {{ irrigation.irrigation_litres__sum }}
       </div>
       <div class="col-sm-4">
           Rainfall: {{ rainfall.rain__sum }}
       </div>
   </div>
</div>

{% else %}
    <p>No readings</p>
{% endif %}

<iframe id="widget-iframe" width="1400px" height="120px"
 src="/weather" allowtransparency="true" style="border:none"></iframe>
<script>

$(document).ready(function() {
    // for weather widget
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');

    // Sorting plug in for uk/nz dates. https://datatables.net/plug-ins/sorting/
    // Not using https://cdn.datatables.net/plug-ins/1.10.21/sorting/date-uk.js as it uses '21/5/2018' not '21-5-2018'
    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
       "date-uk-pre": function ( a ) {
           if (a == null || a == "") {
               return 0;
           }
           var ukDatea = a.split('-');
           return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
       },

       "date-uk-asc": function ( a, b ) {
           return ((a < b) ? -1 : ((a > b) ? 1 : 0));
       },

       "date-uk-desc": function ( a, b ) {
           return ((a < b) ? 1 : ((a > b) ? -1 : 0));
       }
    } );

    var refillType = $.fn.dataTable.absoluteOrder( 'Refill' );
    var fullType = $.fn.dataTable.absoluteOrder( 'Full Point' );

    $('#reading-table').DataTable({
        "paging": false,

        "scrollX": false,
        //"scrollCollapse": true,
        "searching": false,
        "fixedColumns": {
            "leftColumns": 2,
        },
        "hideEmptyCols": true,
        "columnDefs": [
            { targets: 0, type: refillType },
            { targets: 0, type: fullType },
            { "type": "date-uk", "targets": 1 }
        ]
    });

    $(".clickable-row").click(function() {
        window.open($(this).data('href'));
        return false;
    });

} );
</script>

{% endblock content %}
