<!-- templates/model_form_upload.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                {{ form|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            Neutron:<input type = "radio" name = "filetype" id = "neutron" value = "neutron" checked = "checked"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            Diviner 7003:<input type = "radio" name = "filetype" id = "diviner_7003" value = "diviner_7003" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            PRWIN Reading:<input type = "radio" name = "filetype" id = "prwin" value = "prwin"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            Diviner 7777:<input type = "radio" name = "filetype" id = "diviner_7777" value = "diviner_7777" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            Back Up Diviner 953:<input type = "radio" name = "filetype" id = "diviner_953" value = "diviner_953" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            <button class="btn bg-green" type="submit">Upload</button>
            </div>
        <div/>
    </form>
{% endblock %}
