<!-- templates/vsw_percentage.html -->

{% load static %}
{% block content %}

<h5 align="center">Reading date: {{ date }} Last Week date: {{ previous }} Period From: {{ period_from }} Period To: {{ period_to }}</h3>
<div class="row">
    <div class="col" id="area1"></div>
    <div class="col" id="area3">
        <table id="last-week-data" class="table table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th colspan="4">Amount Received Last Week</th>
            </tr>
            <tr>
                <td></td>
                <td>MM's/plant</td>
                <td>Litres/plant</td>
                <td>Hours</td>
            </tr>
            <tr>
                <td>Irrigation</td>
                <td class="mms-plant">mm</td>
                <td class="litres-plant">lp</td>
                <td class="hours">hrs</td>
            </tr>
            <tr>
                <td>Rain (mms)</td>
                <td class="previous-rain">mm</td>
            </tr>
        </table>
        <table id="season-data" class="table table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th colspan="4">Season To Date</th>
            </tr>
            <tr>
                <td>Irrigation</td>
                <td class="std-irrigation"></td>
                <td>Rain</td>
                <td class="std-rain"></td>
            </tr>
        </table>
    </div>
    <div class="col" id="area4">
        <table id="recommendation" class="table table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th colspan="7">Recommendation</th>
            </tr>
            <tr>
                <td class="text" colspan="7">Lorem ipsum dolor sit amet, nibh admodum sententiae ad cum, vero phaedrum in ius, etiam dissentiet te per. Detraxit dissentias sea id. Per oblique th
                </td>
            </tr>
            <tr>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Sun</td>
            </tr>
            <tr>
                <td colspan="7">Hours</td>
            </tr>
            <tr>
                <td class="mon">0</td>
                <td class="tue">0</td>
                <td class="wed">0</td>
                <td class="thu">0</td>
                <td class="fri">0</td>
                <td class="sat">0</td>
                <td class="sun">0</td>
            </tr>
        </table>

    </div>

</div>

<div class="row">
    <div class="col" id="area2"></div>
</div>
<script>

//var parseTime = d3.timeParse("%m-%d-%Y");
var parseTime = d3.timeParse("%Y-%m-%d");

// assemble reading date and previous reading date into this and last weeks dates javascript dates. Time does not matter
// js is a bitch extract on '-' for date 25-03-2019
var date = "{{ date }}"
var split_date = date.split("-")
var this_week_date = new Date(split_date[2], split_date[1] - 1, split_date[0]).toDateString();
console.log("***This week DATE:" + this_week_date);

var previous = "{{ previous }}";
var split_previous = previous.split("-");
var last_week_date = new Date(split_previous[2], split_previous[1] - 1, split_previous[0]).toDateString();
console.log('***Last Week DATE:' + last_week_date);

var previous = "{{ period_from }}";
var split_period_from = previous.split("-");
var period_from_date = new Date(split_period_from[2], split_period_from[1] - 1, split_period_from[0]).toDateString();
console.log('***Season Start DATE:' + period_from_date);

// set the dimensions and margins of the weekly graph
var margin = {top: 35, right: 30, bottom: 30, left: 40};
width = 650 - margin.left - margin.right;
height = 350 - margin.top - margin.bottom;

// set the dimensions and margins of the season graph
//var season_margin = {top: 500, right: 20, bottom: 30, left: 50};
season_width = 1400 - margin.left - margin.right;
season_height = 420 - margin.top - margin.bottom;

// set the weekly ranges
var x = d3.scaleLinear().range([0, width]); //vsw (%)
var y = d3.scaleLinear().range([0, height]);

// set the season ranges
var seasonx = d3.scaleTime().range([0, season_width]); //date
var seasony0 = d3.scaleLinear().range([season_height, 0]);
var seasony1 = d3.scaleLinear().range([season_height, 0]);

// The scale spacing the groups:
var x0 = d3.scaleBand()
    .range([0, season_width])
    .paddingInner(0.3);

// The scale for spacing each group's bar:
var x1 = d3.scaleBand()
    .padding(0.7);

var z = d3.scaleOrdinal()
    .range(["red", "blue"]);

    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


// define the vsw percentage line
var vswline = d3.line()
    .x(function(r) { return x(r.vsw); })
    .y(function(r) { return y(r.depth); });

var season_vswline0 = d3.line()
    .x(function(r) { return seasonx(r.date); })
    .y(function(r) { return seasony0(r.total); });

// Season upper stategy line
var season_upper_strategy_line = d3.line()
    .x(function(r) { return seasonx(r.date); })
    .y(function(r) { return seasony0(r.total); });

// Season lower strategy line
var season_lower_strategy_line = d3.line()
    .x(function(r) { return seasonx(r.date); })
    .y(function(r) { return seasony0(r.total); });

// Season Full Point Total
var season_full_point_line = d3.line()
    .x(function(r) { return seasonx(r.date); })
    .y(function(r) { return seasony0(r.total); });

// Season Refill Total
var season_refill_line = d3.line()
    .x(function(r) { return seasonx(r.date); })
    .y(function(r) { return seasony0(r.total); });

// define previous vsw percentage line
var previous_vswline = d3.line()
    .x(function(r) { return x(r.vsw); })
    .y(function(r) { return y(r.depth); });

// define the refill line
var refill_line = d3.line()
    .x(function(r) { return x(r.vsw); })
    .y(function(r) { return y(r.depth); });

// define the full point line
var full_point_line = d3.line()
    .x(function(r) { return x(r.vsw); })
    .y(function(r) { return y(r.depth); });

var weekly_graph = d3.select("#area1").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

var season_graph = d3.select("#area2").append("svg")
    .attr("width", season_width + margin.left + margin.right)
    .attr("height", season_height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Weeks readings arrays
var vsw_readings = [];
var previous_vsw_readings = [];
var full_point_readings = [];
var refill_readings = [];

// Seasons readings arrays
var seasons_vsw_readings = [];
var seasons_full_point_readings = []
var seasons_refill_readings = []
var seasons_upper_strategy = []
var seasons_lower_strategy = []

var season_grouping = [];
vsw_count = 10; // delivered by vsw_reading api
var full_point_rz1 = 0;
var refill_rz1 = 0;

var season_critical_dates = {};

// Recommedations
var previous_rain = 0;
var previous_hours_irrigation = 0;
var previous_mms_plant = 0;
var previous_litres_plant = 0;
var std_irrigation = 0;
var std_rain = 0;
var recommendation_text = '';
var rec_mon = 0, rec_tue = 0, rec_wed = 0, rec_thu = 0, rec_fri = 0, rec_sat = 0, rec_sun = 0;

function sortByDateAscending(a, b) {
    // Dates will be cast to numbers automagically:
    return a.date - b.date;
}

d3.json('/graphs/api/vsw_reading/' + "{{ site_id }}" + '/' + "{{ period_from }}" + '/' + "{{ period_to }}" + '/?format=json').then(function(data) {
    // Get strategies

    d3.json('/graphs/api/vsw_strategy/' + "{{ site_id }}" + '/' + "{{ period_from }}" + '/' + "{{ period_to }}" + '/?format=json').then(function(strategy_data) {
        strategy_data.forEach(function(strategy) {
            season_critical_dates[strategy.critical_date_type] = strategy.critical_date

            parsed_date = parseTime(strategy.strategy_date);
            console.log('strat date:' + strategy.strategy_date + ' strat percentage:' + strategy.percentage);
            seasons_upper_strategy.push({
                'date' : parsed_date,
                'percentage' : strategy.percentage
            });

            // Fill
            seasons_lower_strategy.push({
                'date' : parsed_date,
                'percentage' : 0
            });
        });

    vsw_readings_date_array = []; // This is better to use for refill and full point full_point_readings

    data.forEach(function(reading) {
        var reading_date = new Date(reading.date).toDateString();

        // get seasons_vsw percentage readings for Probe
        if (reading.reading_type.name == "Probe") {
            parsed_date = parseTime(reading.date);
            seasons_vsw_readings.push({
                'date' : parsed_date,
                'total' : Math.round(reading["rz1"]),
            });
            // Seasons Groupiong
            season_grouping.push({
                'date' : parsed_date,
                'rain' : reading["rain"],
                'irrigation_mms' : reading["irrigation_mms"],
            });

            vsw_readings_date_array.push(parsed_date)

            // Season to Date figures
            std_irrigation += reading["irrigation_litres"]
            std_rain += reading["rain"]

            if (this_week_date == reading_date) {
                for (index = 1; index <= vsw_count; index++) {
                    if (reading["depth" + index] !== null) {
                        vsw_readings.push({
                            'depth' : reading["depth" + index],
                            'vsw' : reading["vsw" + index + '_perc'],
                        })
                    } else {
                        console.log("where null");
                    }
                } // end for loop
                // get recommendation and other data for this week
                recommendation_text = reading["comment"]
                rec_mon = reading["rec_mon"]
                rec_tue = reading["rec_tue"]
                rec_wed = reading["rec_wed"]
                rec_thu = reading["rec_thu"]
                rec_fri = reading["rec_fri"]
                rec_sat = reading["rec_sat"]
                rec_sun = reading["rec_sun"]
                //"rec_mon":0.0,"rec_tue":0.0,"rec_wed":2.0,"rec_thu":2.6,"rec_fri":0.0,"rec_sat":0.0

            }

            // Get last weeks readings
            if (last_week_date == reading_date) {
                for (index = 1; index <= vsw_count; index++) {
                    if (reading["depth" + index] !== null) {
                        previous_vsw_readings.push({
                            'depth' : reading["depth" + index],
                            'vsw' : reading["vsw" + index + '_perc'],
                        })
                    }
                } // end for loop
                /* Calculate values for Amounts Recieved last Week */
                previous_litres_plant = reading["irrigation_litres"]
                previous_mms_plant = reading["irrigation_mms"]
                previous_rain = reading["rain"]
                application_rate = reading["site"]["application_rate"]
                previous_hours_irrigation = Math.round(previous_mms_plant / application_rate)
            }
        }

        // Get the Full Point and Refill - These are the vsw figures
        if (reading.reading_type.name == "Full Point") {
            for (index = 1; index <= vsw_count; index++) {
                if (reading["depth" + index] !== null) {
                    full_point_readings.push({
                        'depth' : reading["depth" + index],
                        'vsw' : reading["vsw" + index],
                    });
                }
            }
            full_point_rz1 = Math.round(reading["rz1"]);
            // Seasons Full Point - This is the rz1 value for each proble reading date
            /*for (index = 0; index < vsw_readings_date_array.length; index++) {
                seasons_full_point_readings.push({
                    'date' : vsw_readings_date_array[index],
                    'total' : Math.round(reading["rz1"]),
                });
            }*/
        }

        if (reading.reading_type.name == "Refill") {
            for (index = 1; index <= vsw_count; index++) {
                if (reading["depth" + index] !== null) {
                    refill_readings.push({
                        'depth' : reading["depth" + index],
                        'vsw' : reading["vsw" + index],
                    });
                }
            }
            refill_rz1 = Math.round(reading["rz1"]);
        }
    });

    // Seasons Refill - This is the rz1 value for each proble reading date
    for (index = 0; index < vsw_readings_date_array.length; index++) {
        seasons_refill_readings.push({
            'date' : vsw_readings_date_array[index],
            'total' : refill_rz1
        });
        seasons_full_point_readings.push({
            'date' : vsw_readings_date_array[index],
            'total' : full_point_rz1
        });
    }

    /* need to sort arrays by date */
    seasons_vsw_readings = seasons_vsw_readings.sort(sortByDateAscending);
    console.log('season vsw reading');
    console.log(seasons_vsw_readings)

    // TODO: Do this better. Need to test if site actually has a strategy
    if (seasons_upper_strategy.length > 0) {
        console.log('start reading date' + seasons_refill_readings[0]['date'])
        // First date of both strategies will be season start date (period from)
        seasons_upper_strategy.push({
            'date' : seasons_vsw_readings[0]['date'],
            'percentage' : 1
        });
        seasons_lower_strategy.push({
            'date' : seasons_vsw_readings[0]['date'],
            'percentage' : 0
        });

        console.log('upper seasons_upper_strategy');
        console.log(seasons_upper_strategy)

        console.log('FP RZ1f' + full_point_rz1);
        console.log('R RZ1f' + refill_rz1);
        diff = full_point_rz1 - refill_rz1
        console.log('diff' + diff);

        new_seasons_lower_strategy = [];
        // replace all lowere with upper - diff
        for (var i = 0; i < seasons_upper_strategy.length; i++) {
            // $C$3-($F$3-($F$3*E8))
            upper_total = full_point_rz1 - (diff - (diff * seasons_upper_strategy[i]['percentage']))

            console.log('upper_total ' + upper_total + ' % ' + seasons_upper_strategy[i]['percentage'])
            // =F8-($F$3*$G$8) - strategy_percentage
            lower_total = upper_total - ( diff * .5 )
            seasons_upper_strategy[i]['total'] = upper_total;
            seasons_lower_strategy[i]['date'] = seasons_upper_strategy[i]['date'];
            seasons_lower_strategy[i]['total'] = lower_total;
        }
    }
    seasons_upper_strategy = seasons_upper_strategy.sort(sortByDateAscending);
    seasons_lower_strategy = seasons_lower_strategy.sort(sortByDateAscending);

    console.log('season critical dates')
    console.log(season_critical_dates)

    season_grouping  = season_grouping.sort(sortByDateAscending);

    // Scale the range of the data
    x.domain([5, 50]);
    y.domain([d3.min(vsw_readings, function(r) { return r.depth - 5; }), d3.max(vsw_readings, function(r) { return r.depth + 5; })]);

    seasonx.domain(d3.extent(seasons_vsw_readings, function(d) { return d.date; }));
    seasony0.domain([d3.min(seasons_vsw_readings, function(d) { return d.total - 40; }), d3.max(seasons_full_point_readings, function(d) { return d.total + 10; })]);
    //seasony1.domain([d3.min(seasons_rain, function(d) { return d.rain - 5; }), d3.max(seasons_rain, function(d) { return d.rain + 5; })]);

    // Add the lines
    weekly_graph.append("path")
      .data([vsw_readings])
      .attr("class", "line")
      .attr("d", vswline);

    season_graph.append("path")
        .data([seasons_vsw_readings])
        .attr("class", "line")
        .attr("d", season_vswline0);

    //console.log(season_grouping);
    var keys = ['rain', 'irrigation_mms']
    var keys_with_date = ['date', 'rain', 'irrigation_mms']

    x0.domain(season_grouping.map(function(d) { return d.date; }));
    x1.domain(keys).rangeRound([0, x0.bandwidth()]);
    seasony1.domain([0, d3.max(data, function(d) { return d3.max(keys, function(key) { return d[key] + 100; }); })])

    // append the rectangles for the seasonal bar chart
    season_graph.selectAll(".bar")
        .data(season_grouping)
        .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function(d) { return "translate(" + x0(d.date) + ",0)"; })
        .selectAll("rect")
        .data(function(d) {
            return keys.map(function(key) {
                date_formatted = '';
                if (key == 'date') {
                    date_formatted = d[key];
                    date_formatted = moment(date_formatted).format('DD-MM-YY');
                    //console.log('Date:' + date_formatted);
                } else {
                    //console.log('key:' + key + ' value:' + d[key])
                    return {
                        key: key,
                        value: d[key]
                    };
                }
            });
        }).enter().append("rect")
          .attr("x", function(d) { return x1(d.key); })
          .attr("y", function(d) { return seasony1(d.value); })
          .attr("id", function(d) { return d.key; })
          .attr("width", x1.bandwidth())
          .attr("height", function(d) { return season_height - seasony1(d.value); })
          .on("mouseover", function(d) {
              div.transition()
              .duration(200)
              .style("opacity", .9);
              div.html(d.value)
              .style("left", (d3.event.pageX) + "px")
              .style("top", (d3.event.pageY - 28) + "px");
          })
              .on("mouseout", function(d) {
              div.transition()
              .duration(500)
              .style("opacity", 0);
          })
          .attr("fill", function(d) { return z(d.key); });

    // Full Point Season line. This is just the total of full_point_readings across all dates
    season_graph.append("path")
        .data([seasons_full_point_readings])
        .attr("class", "line")
        .style("stroke", "green")
        .style("stroke-width", "2px")
        .attr("d", season_full_point_line);

    // Refill Season line. This is just the total of refill_readings across all dates
    season_graph.append("path")
        .data([seasons_refill_readings])
        .attr("class", "line")
        .style("stroke", "red")
        .style("stroke-width", "2px")
        .attr("d", season_refill_line);

    season_graph.append("path")
        .data([seasons_upper_strategy])
        .attr("class", "line")
        .style("stroke", "black")
        .style("stroke-width", "3px")
        .attr("d", season_upper_strategy_line);

    season_graph.append("path")
        .data([seasons_lower_strategy])
        .attr("class", "line")
        .style("stroke", "yellow")
        .style("stroke-width", "3px")
        .attr("d", season_lower_strategy_line);

    weekly_graph.append("path")
        .data([previous_vsw_readings])
        .attr("class", "line")
        .style("stroke-width", "1px")
        .attr("d", previous_vswline);

    // Add the refill line
    weekly_graph.append("path")
        .data([refill_readings])
        .attr("class", "line")
        .style("stroke", "red")
        .attr("d", refill_line);

    // Add the full point line
    weekly_graph.append("path")
        .data([full_point_readings])
        .attr("class", "line")
        .style("stroke", "green")
        .attr("d", full_point_line);

    // Add the scatterplot
    weekly_graph.selectAll("dot")
      .data(vsw_readings)
      .enter().append("circle")
      .attr("r", 5)
      .attr("cx", function(r) { return x(r.vsw); })
      .attr("cy", function(r) { return y(r.depth); });

    // Add the X Axis
    weekly_graph.append("g")
        //.attr("transform", "translate(0," + height + ")")
        .call(d3.axisTop(x));

    weekly_graph.append("text")
        .attr("transform",
              "translate(" + (width/2) + " ," +
                             (0 - 20) + ")")
        .text("VSW (%)");

    // Add the Y Axis
    weekly_graph.append("g")
          .call(d3.axisLeft(y));

    weekly_graph.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Depth (cm)");

    // Add Season Graph X Axis
    season_graph.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + season_height + ")")
        .call(d3.axisBottom(seasonx)
            .ticks(d3.timeWeek.every(1))
            .tickFormat(d3.timeFormat("%m-%d")));

    // Add Season Graph Y0 Axis
    season_graph.append("g")
        .attr("class", "axisSteelBlue")
        .call(d3.axisLeft(seasony0));

    // Add Season Graph YBar Axis

    season_graph.append("g")
        .attr("class", "axisRed")
        .attr("transform", "translate( " + season_width + ", 0 )")
        .call(d3.axisRight(seasony1));

    /*************** legend ******************/

        var legend = season_graph.append("g")
          .attr("font-family", "sans-serif")
          .attr("font-size", 10)
          .attr("text-anchor", "end")
        .selectAll("g")
        .data(keys.slice().reverse())
        .enter().append("g")
          .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

      legend.append("rect")
          .attr("x", season_width - 17)
          .attr("width", 15)
          .attr("height", 15)
          .attr("fill", z)
          .attr("stroke", z)
          .attr("stroke-width",2)
          .on("click",function(d) { update(d) });

      legend.append("text")
          .attr("x", season_width - 24)
          .attr("y", 9.5)
          .attr("dy", "0.32em")
          .text(function(d) { return d; });


          // Update recommendation fields
          $("#last-week-data td.mms-plant").html(previous_mms_plant);
          $("#last-week-data td.litres-plant").html(previous_litres_plant);
          $("#last-week-data td.hours").html(previous_hours_irrigation);
          $("#last-week-data td.previous-rain").html(previous_rain);
          $("#season-data td.std-irrigation").html(std_irrigation);
          $("#season-data td.std-rain").html(std_rain);
          $("#recommendation td.text").html(recommendation_text);
          $("#recommendation td.mon").html(rec_mon);
          $("#recommendation td.tue").html(rec_tue);
          $("#recommendation td.wed").html(rec_wed);
          $("#recommendation td.thu").html(rec_thu);
          $("#recommendation td.fri").html(rec_fri);
          $("#recommendation td.sat").html(rec_sat);
          $("#recommendation td.sun").html(rec_sun);
});

});


</script>

{% endblock content %}
