<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graph</title>
    <style>
        .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 5px;
        }
        .area {
            fill: steelblue;
        	opacity: 0.3;
        }
    </style>
</head>
<body>
<div class="container">
<div class="row">
    <select id="selectButton"></select>
    <div id="area1"></div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
<script type="text/javascript">
    // get the id of url
    var path = window.location.pathname.split('/');;
    site_id = path[3];
    console.log('site_id:' + site_id)

    /************************** Start Global Settings ***************************************/
    vsw_count = 10; // This is the maximum depth delivered by vsw_reading api meaning 1-10
    var parseTime = d3.timeParse("%d-%m-%Y"); // For d3
    var formatTime = d3.timeFormat("%d-%m-%Y");
    var full_point_rz1 = 0;
    var refill_rz1 = 0;
    /************************** End Global Settings ***************************************/


    /************************** Start Recommendation Settings ***************************************/
    var previous_rain = 0;
    var previous_hours_irrigation = 0;
    var previous_mms_plant = 0;
    var previous_litres_plant = 0;
    var recommendation_text = '';
    var rec_mon = 0, rec_tue = 0, rec_wed = 0, rec_thu = 0, rec_fri = 0, rec_sat = 0, rec_sun = 0;
    /************************** End Recommendation Settings ***************************************/

    /************************* Start Weekly Graph Settings ****************************/
    var margin = {top: 35, right: 30, bottom: 30, left: 40};
    weekly_width = 600 - margin.left - margin.right;
    weekly_height = 350 - margin.top - margin.bottom;

    var weekly_x = d3.scaleLinear().range([0, weekly_width]);
    var weekly_y = d3.scaleLinear().range([0, weekly_height]);

    var weekly_refill_line = d3.line()
        .x(function(r) { return weekly_x(r.vsw); })
        .y(function(r) { return weekly_y(r.depth); });

    var weekly_full_point_line = d3.line()
        .x(function(r) { return weekly_x(r.vsw); })
        .y(function(r) { return weekly_y(r.depth); });

    var weekly_graph = d3.select("#area1").append("svg")
        .attr("width", weekly_width + margin.left + margin.right)
        .attr("height", weekly_height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Weeks readings arrays
    var weekly_vsw_map = {};
    var weekly_full_point_readings = [];
    var weekly_refill_readings = [];
    /************************* End Weekly Graph Settings****************************/

    d3.json('/graphs/api/vsw_date/' + site_id + '/?format=json').then(function(data) {
        data.forEach(function(date) {
            var readings_date_array = [];
            d3.json('/graphs/api/vsw_reading/' + site_id + '/' + date.period_from + '/' + date.period_to + '/?format=json').then(function(data) {
                var latest_reading_date = formatTime(parseTime(data[0].date));
                var previous_reading_date = formatTime(parseTime(data[1].date));
                console.log("Latest Date:" + latest_reading_date + " - Previous Date:" + previous_reading_date);

                data.forEach(function(reading) {

                    parsed_date = parseTime(reading.date);
                    readings_date_array.push(parsed_date)

                    if (reading.reading_type.name == "Probe") {

                        // Weekly vsw figures. This will be a map, keyed by date
                        var vsw_readings = [];
                        for (index = 1; index <= vsw_count; index++) {
                            if (reading["depth" + index] !== null) {
                                vsw_readings.push({
                                    'depth' : reading["depth" + index],
                                    'vsw' : reading["vsw" + index + '_perc'],
                                });
                            } else {
                                console.log("where null");
                            }
                            weekly_vsw_map[formatTime(parsed_date)] = vsw_readings;
                        } // end for loop
                    }

                    // Get the Full Point and Refill - These are the vsw figures
                    if (reading.reading_type.name == "Full Point") {
                        for (index = 1; index <= vsw_count; index++) {
                            if (reading["depth" + index] !== null) {
                                weekly_full_point_readings.push({
                                    'depth' : reading["depth" + index],
                                    'vsw' : reading["vsw" + index],
                                });
                            }
                        }
                        full_point_rz1 = Math.round(reading["rz1"]);
                    }

                    if (reading.reading_type.name == "Refill") {
                        for (index = 1; index <= vsw_count; index++) {
                            if (reading["depth" + index] !== null) {
                                weekly_refill_readings.push({
                                    'depth' : reading["depth" + index],
                                    'vsw' : reading["vsw" + index],
                                });
                            }
                        }
                        refill_rz1 = Math.round(reading["rz1"]);
                    }
                });

                // Selct Button for Weekly Graph
                var allGroup = d3.map(weekly_vsw_map, function(r){return(r.date)}).keys()

                d3.select("#selectButton")
                  .selectAll('myOptions')
                 	.data(allGroup)
                  .enter()
                	.append('option')
                  .text(function (r) { return r; }) // text showed in the menu
                  .attr("value", function (r) { return r; }) // corresponding value returned by the button

                /***************************************** Start Display Weekly Graph *******************************/

                // Scale the range of the data
                var min_weekly_x = weekly_refill_readings.concat(weekly_vsw_map[latest_reading_date]).concat(weekly_vsw_map[previous_reading_date]);
                weekly_x.domain([d3.min(min_weekly_x, function(r) { return r.vsw - 2; }), d3.max(weekly_full_point_readings, function(r) { return r.vsw + 2; })]);
                weekly_y.domain([d3.min(weekly_vsw_map[latest_reading_date], function(r) { return r.depth - 5; }), d3.max(weekly_vsw_map[previous_reading_date], function(r) { return r.depth + 5; })]);

                // Start Weekly Graph Shaded Area between This Week and Previous weeks line
                // We need to get data into arrays for x and y for this week and x for previous week

                var this_week_x = [];
                var this_week_y = [];
                var previous_week_x = [];

                for (i=0; i < weekly_vsw_map[previous_reading_date].length; i++) {
                    this_week_y.push(weekly_vsw_map[latest_reading_date][i].depth);
                    this_week_x.push(weekly_vsw_map[latest_reading_date][i].vsw);
                    previous_week_x.push(weekly_vsw_map[previous_reading_date][i].vsw);
                }

                // Append the shaded area to graph
                var indexies = d3.range( this_week_y.length );
                var weekly_area = weekly_graph
                   .append('g')
                   .append("path")
                   .datum(indexies)
                   .attr("d", d3.area()
                       .x0(function(d) { return weekly_x(this_week_x[d]) })
                       .x1(function(d) { return weekly_x(previous_week_x[d]) ; })
                       .y0(function(d) { return weekly_y(this_week_y[d] ); })
                       .y1(function(d) { return weekly_y(this_week_y[d] ); })
                    )
                   .attr("class", "area");

                // End Shaded Area

                var weekly_vswline = weekly_graph
                    .append('g')
                    .append("path")
                    .datum(weekly_vsw_map[latest_reading_date])
                    .attr("d", d3.line()
                        .x(function(r) { return weekly_x(r.vsw); })
                        .y(function(r) { return weekly_y(r.depth); })
                    )
                    .attr("class", "line");

                var weekly_previous_vswline = weekly_graph
                    .append('g')
                    .append("path")
                    .datum(weekly_vsw_map[previous_reading_date])
                    .attr("d", d3.line()
                        .x(function(r) { return weekly_x(r.vsw); })
                        .y(function(r) { return weekly_y(r.depth); })
                    )
                    .style("stroke-width", "1px")
                    .attr("class", "line");

                // Add the scatterplot
                var weekly_scatterplot = weekly_graph
                    .append('g')
                    .selectAll("dot")
                    .data(weekly_vsw_map[latest_reading_date])
                    .enter().append("circle")
                        .attr("r", 5)
                        .attr("cx", function(r) { return weekly_x(r.vsw); })
                        .attr("cy", function(r) { return weekly_y(r.depth); });

                // Add the refill line
                weekly_graph.append("path")
                  .data([weekly_refill_readings])
                  .attr("class", "line")
                  .style("stroke", "red")
                  .attr("d", weekly_refill_line);

                // Add the full point line
                weekly_graph.append("path")
                  .data([weekly_full_point_readings])
                  .attr("class", "line")
                  .style("stroke", "green")
                  .attr("d", weekly_full_point_line);

                // Add the X Axis
                weekly_graph.append("g")
                  //.attr("transform", "translate(0," + height + ")")
                  .call(d3.axisTop(weekly_x));

                weekly_graph.append("text")
                  .attr("transform",
                        "translate(" + (weekly_width/2) + " ," +
                                       (0 - 20) + ")")
                  .text("VSW (%)");

                // Add the Y Axis
                weekly_graph.append("g")
                    .call(d3.axisLeft(weekly_y));

                weekly_graph.append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 0 - margin.left)
                  .attr("x", 0 - (weekly_height / 2))
                  .attr("dy", "1em")
                  .style("text-anchor", "middle")
                  .text("Depth (cm)");
                /***************************************** End  Display Weekly Graph *******************************/


                // A function that update the chart
                function update(selectedGroup) {
                    console.log(selectedGroup);
                      // Create new data with the selection?
                      var index = allGroup.indexOf(selectedGroup)
                      var this_week = allGroup[index];
                      var last_week = allGroup[index - 1];
                      console.log(this_week);

                      // Give these new data to update line
                      weekly_vswline
                          .datum(weekly_vsw_map[this_week])
                          .transition()
                            .duration(1000)
                            .attr("d", d3.line()
                                .x(function(r) { return weekly_x(r.vsw) })
                                .y(function(r) { return weekly_y(r.depth) })
                            );

                        weekly_scatterplot
                            .data(weekly_vsw_map[this_week])
                            .transition()
                                .duration(1000)
                                .attr("cx", function(r) { return weekly_x(r.vsw); })
                                .attr("cy", function(r) { return weekly_y(r.depth); });

                        // Give these new data to update line
                        weekly_previous_vswline
                            .datum(weekly_vsw_map[last_week])
                            .transition()
                            .duration(1000)
                            .attr("d", d3.line()
                              .x(function(r) { return weekly_x(r.vsw) })
                              .y(function(r) { return weekly_y(r.depth) })
                          );
                          var this_week_x = [];
                          var this_week_y = [];
                          var previous_week_x = [];
                          for (i=0; i < weekly_vsw_map[last_week].length; i++) {
                              this_week_y.push(weekly_vsw_map[this_week][i].depth);
                              this_week_x.push(weekly_vsw_map[this_week][i].vsw);
                              previous_week_x.push(weekly_vsw_map[last_week][i].vsw);
                          }

                          // Append the shaded area to graph
                          indexies = d3.range( this_week_y.length );
                          weekly_area
                             .datum(indexies)
                             .transition()
                             .duration(1000)
                             .attr("d", d3.area()
                                 .x0(function(d) { return weekly_x(this_week_x[d]) })
                                 .x1(function(d) { return weekly_x(previous_week_x[d]) ; })
                                 .y0(function(d) { return weekly_y(this_week_y[d] ); })
                                 .y1(function(d) { return weekly_y(this_week_y[d] ); })
                              )
                             .attr("class", "area");
                }

                // When the button is changed, run the updateChart function
                d3.select("#selectButton").on("change", function(d) {

                    var selectedOption = d3.select(this).property("value");
                    console.log('selectedOption:' + selectedOption)
                    update(selectedOption)
                });


            }); // End vsw_reading call
        });
    }); // End vsw_date call

</script>
</body>
</html>
