{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<h1>Create or Copy Refill and Full Point Readings</h1>
<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}

{{ wizard.form  }}

<div class="row">
    <div class="col-sm-12">
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "<< Back" %}</button>
    {% endif %}
    <input type="submit" value="{% trans "Next >>" %}"/>
    </div>
</div>
</form>
{% endblock content %}
