{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<h2 class="bg-green">Select Products, Regions and Season to start a new season.</h2>
<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}
<div class="row">
    <div class="col-sm-4">
        {{ wizard.form.product|as_crispy_field }}
        <a href="#" class="select-all-products">Select All Products</a>
    </div>
    <div class="col-sm-4">
        {{ wizard.form.region|as_crispy_field }}
        <a href="#" class="select-all-regions">Select All Regions</a>
    </div>
    <div class="col-sm-4">
        {{ wizard.form.season|as_crispy_field }}
        {{ wizard.form.multi_year_season|as_crispy_field }}
        {{ wizard.form.refill_fullpoint_copy|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button type="submit" class="btn bg-green">Submit</button>
    </div>
</div>
</form>

<script>
    $('.select-all-products').click(function(){
        $('#id_select_crsf-product option').attr('selected', 'selected');
    });
    $('.select-all-regions').click(function(){
        $('#id_select_crsf-region option').attr('selected', 'selected');
    });
</script>
{% endblock content %}
