/* UNIVERSAL ELEMENTS */

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #16161d;
}

@media print
{
    @page
    {
        size: landscape;
    }
    .pagebreak {
        clear: both;
        page-break-after: always;
    } /* page-break-after works, as well */
}

header {
    margin-bottom: 36px;
}

a {
    color: #64A414;
}

a:hover {
    color: #508310;
}

h1 {
    margin-bottom: 24px;
}

h2 {
    margin-bottom: 24px;
}

/*.row {
    margin-bottom: 24px;
}*/

/* NAV */

nav {
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.1);
}

.navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,0.8);
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

/* SELECTOR CARD */

.selector .btn, .selector .btn-group {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.dropdown-menu {
    width: 100%;
}

/* HELPERS */

.bg-green {
    background-color: #64A414;
    color: white;
}

.btn .bg-green:hover {
    color: white;
    background-color: #528711;
    text-decoration: none;
}

.bg-green-outline {
    color: #64a414;
    border: solid 1px #64a414;
}

/* READINGS TABLE */

.card {
    margin-top: 12px;
    margin-bottom: 48px;
    padding: 0px;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.1);
}

.readings-wrapper {
    display: block;
    color: #7f8c8d;
    font-size: 80%;
}

#reading-table tr {
    cursor: pointer;
}

#reading-table .refill {
    background-color: lightcoral;
}

#reading-table .full {
    background-color: springgreen;
}

/* CSS for D3 graphs */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.axisSteelBlue text{
    fill: steelblue;
}

.axisRed text{
    fill: red;
}

.bar {
    fill: steelblue;
}

.area {
    fill: steelblue;
	opacity: 0.3;
}

.lineLabel {
    font: 14px sans-serif;
    word-wrap: break-word;
    width: 50px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
